german.data
Simple_Linear_Regression/data_preprocessing_template.R
Simple_Linear_Regression/.Rhistory
Simple_Linear_Regression/.RData
Multiple Linear Regression/.Rhistory
Multiple Linear Regression/.RData
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
AzureMLWebClient/AzureMLWebClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AzureMLWebClient/AzureMLWebClient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AzureMLWebClient/AzureMLWebClient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AzureMLWebClient/AzureMLWebClient/bin/Debug/Newtonsoft.Json.xml
AzureMLWebClient/AzureMLWebClient/bin/Debug/Newtonsoft.Json.dll
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.vshost.exe.manifest
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.vshost.exe.config
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.vshost.exe
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.pdb
AzureMLWebClient/AzureMLWebClient/Properties/AssemblyInfo.cs
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
AzureMLWebClient/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
AzureMLWebClient/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
AzureMLWebClient/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.xml
AzureMLWebClient/packages/Microsoft.AspNet.WebApi.Client.5.2.3/lib/net45/System.Net.Http.Formatting.dll
AzureMLWebClient/packages/Microsoft.AspNet.WebApi.Client.5.2.3/Microsoft.AspNet.WebApi.Client.5.2.3.nupkg
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
AzureMLWebClient/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
AzureMLWebClient/AzureMLWebClient/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AzureMLWebClient/AzureMLWebClient/obj/Debug/AzureMLWebClient.pdb
AzureMLWebClient/AzureMLWebClient/obj/Debug/AzureMLWebClient.exe
AzureMLWebClient/AzureMLWebClient/obj/Debug/AzureMLWebClient.csprojResolveAssemblyReference.cache
AzureMLWebClient/AzureMLWebClient/obj/Debug/AzureMLWebClient.csproj.FileListAbsolute.txt
AzureMLWebClient/AzureMLWebClient/bin/Debug/System.Net.Http.Formatting.xml
AzureMLWebClient/AzureMLWebClient/bin/Debug/System.Net.Http.Formatting.dll
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.exe.config
AzureMLWebClient/AzureMLWebClient/bin/Debug/AzureMLWebClient.exe
AzureMLWebClient/.vs/AzureMLWebClient/v14/.suo
AzureMLWebClient/AzureMLBatchJob/obj/Debug/build.force
AzureMLWebClient/AzureMLBatchJob/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AzureMLWebClient/AzureMLBatchJob/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AzureMLWebClient/AzureMLBatchJob/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AzureMLWebClient/AzureMLBatchJob/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ApplyingML/.ipynb_checkpoints/Load_Predictor_Credit_Data-checkpoint.ipynb
ApplyingML/.ipynb_checkpoints/Loan_Predictor_Credit_Data-checkpoint.ipynb
